body {
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    justify-content: center;
    display: flex;
}

h2 {
    text-align: center;
}

nav {
    background-color: #90E4C1;
    padding: 1em 0;
    border-bottom: 1px solid #e7e7e7;
    justify-content: center;
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: .75em;
}

ul li a:hover {
    color: #4169e1;
}

.faq-list {
    display: block;
    margin: 1em 0 0 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.faq-list li {
    margin: 1.5em 0;
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 30%;
    vertical-align: middle;
    display: flex;
}

#footer_link {
    display: flex;
    justify-content: center;
    color: #274237;
}

#footer_link:hover {
    color: #4169e1;
}

.center {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#hotels {
    width: 75%;
    height: 75%;
}